<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Extras.Moq" version="4.1.0-rc5-246" targetFramework="net452" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net452" />
  <package id="DnsClient" version="1.0.7" targetFramework="net452" />
  <package id="Funkmap.Logger" version="1.0.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.5.1" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.5.1" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.5.1" targetFramework="net452" />
  <package id="Moq" version="4.7.99" targetFramework="net452" />
  <package id="NLog" version="4.5.4" targetFramework="net461" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>