<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true">


  <targets>
    <target xsi:type="Mail"
            name="exceptionTarget"
            subject="Log Error"
            to="timofey.milchakov@mail.ru"
            from="timofey.milchakov@mail.ru"
            body="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"
            smtpUserName="timofey.milchakov@mail.ru"
            enableSsl="true"
            smtpPassword="timoshka605526"
            smtpAuthentication="Basic"
            smtpServer="smtp.mail.ru"
            smtpPort="25"
            deliveryMethod="Network"
            encoding="UTF-8"
            useSystemNetMailSettings="False"
            layout="${date:format=HH\:mm\:ss} ${message} ${onexception:\:&#13;&#10;&#13;&#10;${exception:format=message,type,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,stacktrace:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;&#13;&#10;}} &#13;&#10;"
            
    />

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="exceptionTarget" />
    <logger name="*" minlevel="Fatal" writeTo="exceptionTarget" />
  </rules>
</nlog>
