<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <connectionStrings>
    <!--<add name="FunkmapMongoConnection" connectionString="mongodb://localhost/test" />
    <add name="FunkmapMessengerMongoConnection" connectionString="mongodb://localhost/test" />
    <add name="FunkmapAuthMongoConnection" connectionString="mongodb://localhost/test" />
    <add name="FunkmapNotificationsMongoConnection" connectionString="mongodb://localhost/test" />-->

    <!--Atlas-->
    <add name="FunkmapMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.mongodb.net:27017,funkmap-shard-00-01-c5pui.mongodb.net:27017,funkmap-shard-00-02-c5pui.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
    <add name="FunkmapMessengerMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.mongodb.net:27017,funkmap-shard-00-01-c5pui.mongodb.net:27017,funkmap-shard-00-02-c5pui.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
    <add name="FunkmapAuthMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.mongodb.net:27017,funkmap-shard-00-01-c5pui.mongodb.net:27017,funkmap-shard-00-02-c5pui.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
    <add name="FunkmapNotificationsMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.mongodb.net:27017,funkmap-shard-00-01-c5pui.mongodb.net:27017,funkmap-shard-00-02-c5pui.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />

  </connectionStrings>
  <appSettings>

    <!--<add key="serverAddress" value="http://192.168.40.106:14080/"/>-->
    <add key="serverAddress" value="http://localhost:9000/" />

    <!--Прод-->
    <add key="FunkmapDbName" value="funkmap" />
    <add key="FunkmapMessengerDbName" value="funkmapmessenger" />
    <add key="FunkmapAuthDbName" value="funkmapauth" />
    <add key="FunkmapNotificationsDbName" value="funkmapnotif" />

    <!--Тест-->
    <!--<add key="FunkmapDbName" value="funkmaptest" />
    <add key="FunkmapMessengerDbName" value="funkmapmessengertest" />
    <add key="FunkmapAuthDbName" value="funkmapauthtest" />
    <add key="FunkmapNotificationsDbName" value="funkmapnotiftest" />-->

    <add key="loggingType" value="1" />

    <add key="email" value="bandmap@mail.ru" />
    <add key="emailPassword" value="6278476q" />

    <add key="redis-primary" value="Funkmap-Redis.redis.cache.windows.net:6380,password=C+GeAazQOomtkpDqfAtdzxsfz9MG0OoEJD5gL/BbqtY=,ssl=True,abortConnect=False" />
    <!--<add key="redis-primary" value="localhost:6380"/>-->

    <add key="azureStorage" value="DefaultEndpointsProtocol=https;AccountName=funkmapstorage;AccountKey=DGHf8yTZQhXb9S/rybxPRY6lRrg1Bl/NNNSDJ7uEAbla5R1kG71/b+n/52mMSKhe+oWxktW0d0AYKw2Io/0MEQ==;EndpointSuffix=core.windows.net" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>