<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="FunkmapMongoConnection" connectionString="mongodb://localhost/test" />
    <add name="FunkmapMessengerMongoConnection" connectionString="mongodb://localhost/test" />
    <add name="FunkmapAuthMongoConnection" connectionString="mongodb://localhost/test" />
    <add name="FunkmapNotificationsMongoConnection" connectionString="mongodb://localhost/test" />
    <add name="FunkmapFeedbackMongoConnection" connectionString="mongodb://localhost/test" />-->

    <!--Atlas-->
    <add name="FunkmapMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.azure.mongodb.net:27017,funkmap-shard-00-01-c5pui.azure.mongodb.net:27017,funkmap-shard-00-02-c5pui.azure.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
    <add name="FunkmapMessengerMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.azure.mongodb.net:27017,funkmap-shard-00-01-c5pui.azure.mongodb.net:27017,funkmap-shard-00-02-c5pui.azure.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
    <add name="FunkmapAuthMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.azure.mongodb.net:27017,funkmap-shard-00-01-c5pui.azure.mongodb.net:27017,funkmap-shard-00-02-c5pui.azure.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
    <add name="FunkmapNotificationsMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.azure.mongodb.net:27017,funkmap-shard-00-01-c5pui.azure.mongodb.net:27017,funkmap-shard-00-02-c5pui.azure.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
    <add name="FunkmapFeedbackMongoConnection" connectionString="mongodb://rogulenkoko:6278476q@funkmap-shard-00-00-c5pui.azure.mongodb.net:27017,funkmap-shard-00-01-c5pui.azure.mongodb.net:27017,funkmap-shard-00-02-c5pui.azure.mongodb.net:27017/admin?replicaSet=funkmap-shard-0&amp;ssl=true" />
  </connectionStrings>
  <appSettings>

    <!--<add key="serverAddress" value="http://192.168.40.106:14080/"/>-->
    <add key="serverAddress" value="http://localhost:9000/" />

    <!--Прод-->
    <add key="FunkmapDbName" value="funkmap" />
    <add key="FunkmapMessengerDbName" value="funkmapmessenger" />
    <add key="FunkmapAuthDbName" value="funkmapauth" />
    <add key="FunkmapNotificationsDbName" value="funkmapnotif" />
    <add key="FunkmapFeedbackDbName" value="funkmapfeedback" />


    <!--Тест-->
    <!--<add key="FunkmapDbName" value="funkmaptest" />
    <add key="FunkmapMessengerDbName" value="funkmapmessengertest" />
    <add key="FunkmapAuthDbName" value="funkmapauthtest" />
    <add key="FunkmapNotificationsDbName" value="funkmapnotiftest" />
    <add key="FunkmapFeedbackDbName" value="funkmapfeedbacktest" />-->

    <add key="loggingType" value="2" />

    <add key="email" value="bandmap@mail.ru" />
    <add key="emailPassword" value="6278476q" />

    <add key="redis-primary" value="Funkmap-Redis.redis.cache.windows.net:6380,password=C+GeAazQOomtkpDqfAtdzxsfz9MG0OoEJD5gL/BbqtY=,ssl=True,abortConnect=False" />
    <!--<add key="redis-primary" value="localhost:6380"/>-->

    <add key="file-storage" value="Azure"></add>
    <add key="azure-storage" value="UseDevelopmentStorage=true" />
    
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="Mail" name="FunkmapLog" subject="FunkmapLog" to="bandmap.notifications@gmail.com" from="bandmap.notifications@gmail.com" smtpServer="smtp.mail.ru" smtpPort="25" layout="Layout" />
    </targets>
  </nlog>
</configuration>