<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Owin" version="4.2.0" targetFramework="net452" />
  <package id="Autofac.SignalR" version="3.0.2" targetFramework="net452" />
  <package id="Autofac.WebApi2" version="4.1.0" targetFramework="net452" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net452" />
  <package id="DnsClient" version="1.0.7" targetFramework="net452" />
  <package id="Funkmap.Common" version="1.0.1" targetFramework="net461" />
  <package id="Funkmap.Cqrs" version="1.0.1" targetFramework="net461" />
  <package id="Funkmap.Logger" version="1.0.0" targetFramework="net461" />
  <package id="Funkmap.Logger.Autofac" version="1.0.0" targetFramework="net461" />
  <package id="Funkmap.Redis" version="1.0.0" targetFramework="net461" />
  <package id="Funkmap.Redis.Autofac" version="1.0.0" targetFramework="net461" />
  <package id="jQuery" version="3.1.1" targetFramework="net452" />
  <package id="Metrics.NET" version="0.5.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Diagnostics" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Facebook" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.SelfHost" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.5.1" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.5.1" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.5.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.5.4" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Owin.Metrics" version="0.5.5" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net452" requireReinstallation="true" />
  <package id="Swagger-Net" version="8.3.11.1" targetFramework="net452" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net452" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net452" />
</packages>