<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net452" />
  <package id="Autofac.Extras.Moq" version="4.1.0-rc5-246" targetFramework="net452" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net452" />
  <package id="DnsClient" version="1.0.7" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.5.1" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.5.1" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.5.1" targetFramework="net452" />
  <package id="MongoDB.Driver.GridFS" version="2.5.1" targetFramework="net452" />
  <package id="Moq" version="4.7.99" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net452" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net452" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net452" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="8.6.0" targetFramework="net452" />
</packages>